.container {
    display: flex;
    width: max-content;
    margin: 80px auto 100px auto;
    border-radius: 15px;
    box-shadow: 0 0 5px #7f7d7d
}

.info {
    text-align:end;
    width: 370px;
    height: 300px;
    gap: 40px;
    padding-top: 100px;
    padding-right: 20px;
}

.image img{
    margin-top: 20px;
    width: 400px;
    height: 350px;
}

.info h1 {
    font-size: 60px;
}
.info button {
    background-color: black;
    color: aliceblue;
    border-radius: 2px;
    height: 35px    ;
    width: 90px;
}
.info button:hover{
    box-shadow: 0 0 10px #180b0b;
}